body{
    text-align: center;
    margin-left: 25%;
}
table{
    border: 5px solid black;
    border-collapse: collapse;
    border-color: rgb(97, 5, 97);
    padding: 5px;
    margin: 5px;
}
th{
   background-color:blueviolet;
   color:black;
   padding: 10px;
}
td{
   padding: 20px;
}
tr{
   background-color: white;
}
.a{
    background-color:silver;
}